/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/trans-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  box-sizing: border-box;
}

@keyframes fade-in-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.center {
  width: 80%;
  padding: 2%;
  margin: 0 auto;
  margin-top: 5vh;

  background: rgb(241,142,249);
  background: linear-gradient(144deg, rgba(241, 60, 254, 0.5) 0%, rgba(227, 104, 241, 0.65) 37%, rgba(255, 126, 240, 0.75) 100%);

  text-align: center;
  border: 8px solid #fff;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px rgba(171, 105, 193, 0.5);

  animation: fade-in-slide-left 1s ease-in-out;
}

#logo {
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 1%;
  width: 50%;
  max-width: 25em;

  border: 3px dashed #fff;
  border-radius: 25%;
  text-align: center;
}

h1,
h2,
p {
  font-family: 'Belanosima', sans-serif;
  color: #fff;
}

::selection {
  background: rgba(255, 226, 147, 0.75);
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin: 0 auto 10px auto;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
}

h2 {
  font-size: 1.7em;
  line-height: 1.2;
  margin: 0 auto 10px auto;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3em;
  line-height: 1.4;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
}

.subtext {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  line-height: 1;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
}

nav {
  font-family: 'Belanosima', sans-serif;
  font-size: 2em;
  line-height: 1.2;
  text-shadow: 2px 2px 2px rgba(171, 105, 193, 0.5);

  width: 70%;
  margin: 2% auto;
  padding: 2%;
  padding-bottom: 0;

  border-top: 3px dashed #fff;
  
}

nav li {
  color: #fff;
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0 1%;
  margin: 2px;

  color: #fff;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(171, 105, 193, 0.5);

  background-color: rgba(186, 59, 195, 0.75);
  border-radius: 7px;
}

nav a div {
  vertical-align:middle;
  display:inline;
}

nav a img {
  width: 0.9em ;
  vertical-align:middle;
}

nav a:hover,
nav a:focus {
  background-color: rgba(104, 10, 111, 0.75);
  box-shadow: 2px 5px 5px rgba(171, 105, 193, 0.5);
  border-radius: 7px;

  transition: all .2s ease-in-out; 
  transform: scale(1.05); 
}

@media only screen and (max-width: 480px) {
  h1, h2, p {
    font-size: 1em;
    line-height: 1.5em;
  }
}

#aboutme {
  font-size: 3em;
  line-height: 1.2;
  margin: 5vh auto;
  text-align: center;
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardphoto img {
  display: block;
  max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
}

/* make the Section class cards here.  */
.cards {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 90%;
  margin: auto; 
}

/* make the card flex. The default is row so change flex direction to vertical. */
.card {
  background: rgb(241,142,249);
  background: linear-gradient(144deg, rgba(241, 60, 254, 0.75) 0%, rgba(227, 104, 241, 0.65) 37%, rgba(255, 126, 240, 0.75) 100%);
  
  display: flex;
  flex-direction: column; 
  
  margin: 2% 1%;
  min-width: 200px;
  max-width: 400px;
  
  border-radius: 1.5rem;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(255, 255, 255);
  position: relative;
  top: 0;
  box-shadow: 2px 2px 2px rgba(171, 105, 193, 0.5);

  animation: fade-in-slide-up 0.75s ease-in-out;
}
.card:hover,
.card:focus-within {
  transition: all 0.1s ease-in;
  top: -5px;
  box-shadow: 5px 5px 5px rgba(171, 105, 193, 0.5);
}

.cardphoto {
  max-height: 300px;
  overflow: hidden;
  margin: 2vh auto;
}

.cardarticle {
  padding: 1.5rem;
  flex-grow: 1;

}

/* typography */
.cardH1 {
  font-family: 'Belanosima', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);

  font-size: 2rem;
  margin-bottom: 2vh;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;

  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
}

.card footer {
  font-size: 1rem;
  font-weight: bold;

  font-family: 'Belanosima', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);

  text-transform: uppercase;
  margin: 2% auto;
  text-align: center;
}

h3{
  color: #fff;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
}

.card a{
  text-decoration: none;
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
  }
}

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .main-header {
    width: 100%; 

    background: rgb(241,142,249);
    background: linear-gradient(144deg, rgba(241, 60, 254, 0.5) 0%, rgba(227, 104, 241, 0.65) 37%, rgba(255, 126, 240, 0.75) 100%); 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;

    border-bottom: 4px solid #fff;
  }

  .main-header a {
    margin: 0.5%;
  }

  #small-logo {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 25%;
    margin: 1vh 0;
  }
  
  @media (min-width: 1025px) {
    .main-header {
      flex-direction: row;
      justify-content: space-between;
    }
    ul .main-nav{
      justify-content: space-between;
    }
    #small-logo {
      margin: 0;
    }
  }
  
  .name {
    color: white;
    font-size: 1.35em;
    margin: 0;
  }
  
  .main-nav {
    list-style-type: none;
    align-self: stretch;

    display: flex;
    align-items: stretch;

    align-content: stretch;
    justify-content: space-evenly;
    
    
  }
  
  .main-nav a {
    text-align: center;
    margin: 0;
    text-decoration: none;

    display: inline-block;
    padding: 10px 15px;

    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Belanosima', sans-serif;
    text-shadow: 2px 2px 2px rgb(171, 105, 193);
    align-self: center;

    text-transform: uppercase;
  }

.main-header li {
  display:flex; 
  width: 33.3%;
  justify-content: center;
}

.main-header li:hover,
.main-header li:focus-within {
  transition: all 0.1s ease-in;
  background-color: rgba(146, 50, 161, 0.75);

  border-radius: 10px;
}
  
  /* The container <div> - needed to position the dropdown content */
.contact-dropdown {
  position: relative;
  display: inline-block;
}
  


  /* Dropdown Content (Hidden by Default) */
.contact-dropdown div {
  display: none;
  position: absolute;
  top: 100%;
  background: rgba(250, 174, 255, 0.75);
  width: 100%;
  text-shadow: 2px 2px 2px rgb(171, 105, 193);
  z-index: 1;
  border-radius: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-dropdown div a {
  text-transform: none;
}
  
  /* Links inside the dropdown */
.contact-dropdown-content a {
  padding: 12px  16px;
  text-decoration: none;
  border-radius: 10px;
  display: block;
}
  
 /* Change color of dropdown links on hover */
.contact-dropdown-content a:hover,
.contact-dropdown-content a:focus {
  background-color: rgba(201, 89, 219, 0.75);
    
  transition: all .2s ease-in-out; 
}

/* Show the dropdown menu on hover */
.contact-dropdown:hover .contact-dropdown-content, 
.contact-dropdown:focus-within .contact-dropdown-content{
  display: block; 
  animation: fade-in 0.1s ease-in-out forwards;
}


  /* The container <div> - needed to position the dropdown content */
  .gallery-dropdown {
    position: relative;
    display: inline-block;
  }
    
  
  
    /* Dropdown Content (Hidden by Default) */
  .gallery-dropdown div {
    display: none;
    position: absolute;
    top: 100%;
    background: rgba(250, 174, 255, 0.5);
    width: 100%;
    text-shadow: 2px 2px 2px rgb(171, 105, 193);
    z-index: 1;
    border-radius: 10px;
  }

.gallery-dropdown div a {
  text-transform: none;
}
  
  /* Links inside the dropdown */
.gallery-dropdown-content a {
  padding: 12px  16px;
  text-decoration: none;
  border-radius: 10px;
  display: block;
}
  
 /* Change color of dropdown links on hover */
.gallery-dropdown-content a:hover,
.gallery-dropdown-content a:focus {
  background-color: rgba(201, 89, 219, 0.75);
    
  transition: all .2s ease-in-out; 
}

/* Show the dropdown menu on hover */
.gallery-dropdown:hover .gallery-dropdown-content, 
.gallery-dropdown:focus-within .gallery-dropdown-content{
  display: block; 
  animation: fade-in 0.1s ease-in-out forwards;
}
